*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif ;
}

:root{
  --cor-fonte: #0000008c;
  --cor-topo: #19E2FA;
  --cor-rodape: #008080;
  --paragrafos: #fff
}

.container-topo{
  width: 100%;
  height: auto;
}

.topo{
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--cor-topo);
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.imagem-topo{
  width: 150px;
  height: 80px;
  align-items: center;
}

.topo img{
  width: 100%;
  height: 100%;
}

.navegacao-topo{
  width: 400px;
  height: auto;
  
}

.links-topo{
  display: flex;
  justify-content: space-between;
  padding: 0 10px; 
}

.links-topo a{
  color: var(--paragrafos);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.links-topo a:hover{
  color: #0000008c;
  transition: 0.8s;
}

.banner {
  position: relative;
  background-image: url('..//../imagens/recepcao.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.titulo-banner{
  height: 100%;
  color: var(--paragrafos);
  padding: 80px;
  display: flex;
  align-items: center;
  
}

.titulo-banner h1 {
  max-width: 1024px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 38px;
  margin: 0;
}

.container-sobre, .container-contato, .container-rodape {
  max-width: 100%;
  height: auto;
}

.sobre, .horarios, .contato, .rodape{
  max-width: 1024px;
  margin: 0 auto;
}

.sobre-titulo h2, .sobre-horarios h2, .contato-titulo{
  color: var(--cor-fonte);
  font-size: 28px;
  padding: 30px 0;
  text-align: center;
}

.sobre-titulo p, .sobre-horarios p{
  color: var(--cor-fonte);
  font-size: 22px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.sobre-imagem{
  display: flex;
  justify-content: space-around;
}

.sobre-imagem{
  padding: 30px;
}

.lista-titulo{
  width: 600px;
  
}

.lista-titulo h3{
  color: var(--cor-fonte);
  padding: 30px;
  text-transform: uppercase;
  
}

.lista-titulo ul{
  padding-left: 80px;
}

.lista-titulo li{
  color: var(--cor-fonte);
  font-weight: 500;
  padding-bottom: 5px;
  
}

.sobre-horarios p{
  padding: 0 80px 30px;
}

.horarios-imagens{
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.horarios img{
  width: 300px;
}

.horarios figure{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
}

.horarios figcaption{
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  
}

.horarios-link{
  text-align: center;
  padding-bottom: 20px;
}
.horarios-link a {
  color: var(--paragrafos);
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--cor-topo);
  padding: 10px;
  text-decoration: none;
}

.contato-paragrafo p{
  width: 800px;
  text-align: center;
  color: var(--cor-fonte);
  font-size: 18px;
  padding: 20px 30px;
  margin: 0 auto;

}

.contato-paragrafo span{
  font-weight: bold;
}

.contato-mapa iframe{
  width: 100%;
  height: 350px;
  margin-bottom: 40px;
}

.rodape-logo{
  text-align: center;
  background-color: var(--cor-rodape);
}

.rodape-endereco{
  background-color: var(--cor-rodape);
  padding: 30px;
}

.rodape-endereco p{
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--paragrafos);
  text-align: center;
}

